[submodule "extlibs/vorbis"]
	path = extlibs/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/ogg"]
	path = extlibs/ogg
	url = https://github.com/xiph/ogg.git
