[submodule "extlibs/vorbis"]
	path = extlibs/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "extlibs/abseil-cpp"]
	path = extlibs/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
